{% extends 'MyCookbook/base.html' %}

<!doctype html>
<body>
{% block body %}
    <div>
    <div class="col d-flex justify-content-center" style="padding: 50px;" >
        <div class="card col-md-10" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4" style="padding-bottom:30px ">
                    <img src="{{ recipe.image.url }}" class="card-img" alt="...">
                    <hr>
                        <a href="{% url 'MyCookbook:delete_recipe_item' recipe.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'MyCookbook:print_recipe' recipe.id %}" class="btn btn-warning">Download Recipe</a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.name }}</h3>
                        <h6>Ingredients</h6>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Unit</th>
                                <th>Shopping List</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pl in recipe.get_ingredients %}
                                <tr>
                                    {% for l in pl%}
                                        <td>{{l}}</td>
                                    {% endfor %}
                                    <td><a class="btn btn-warning" href="{% url 'MyCookbook:shopping_list_add' pl.0  %}"><i class="fa fa-shopping-basket"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h6>Instructions</h6>
                        <p class="card-text">{{recipe.instructions }}</p>
                        <h6>Category</h6>
                        <p class="card-text">{{recipe.category }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
</body>
